{% extends 'base.html.twig' %}

{% block title %}Produit index{% endblock %}

{% block body %}
    <h1>Fruits et légumes</h1><br>

    <form method="GET" action="{{ path('app_produit_index') }}" class="mb-3">
    <label for="categoryFilter">Filtrer par catégorie :</label>
    <select name="category" id="categoryFilter" class="form-select">
        <option value="">Toutes les catégories</option>
        {% for category in categories %}
            <option value="{{ category.id }}" {% if app.request.query.get('category') == category.id %}selected{% endif %}>
                {{ category.name }}
            </option>
        {% endfor %}
    </select>
    <button type="submit" class="btn btn-primary mt-2">Filtrer</button>
</form>


    <table class="table text-center table-bordered">
        <thead>
            <tr>
              {% if is_granted('ROLE_ADMIN') %}
                    <th>Id</th>
                {% endif %}
                <th>Name</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Image</th>
                {% if is_granted('ROLE_MARAICHER') %}
                    <th>Actions</th>
                {% endif %}
                <th>Producteur</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                {% if is_granted('ROLE_ADMIN') %}
                <td style="width: 100px">{{ produit.id }}</td>
                {% endif %}
                <td style="width: 150px">{{ produit.name }}</td>
                <td style="width: 300px">{{ produit.description }}</td>
                <td style="width: 80px">{{ produit.prix }} €</td>
                <td style="width: 100px">
                    {% if produit.image is defined and produit.image %}
                    <img width= "100 px" src= "{{ app.request.getSchemeAndHttpHost()}}/{{produit.image}}" alt="{{ produit.name }}">
                    {% else %}
                    <p>Pas d'image disponible</p>
                    {% endif %}
                </td>
                  {% if is_granted('ROLE_MARAICHER') %}
                    <td style="width: 200px">
                        <a href="{{ path('app_produit_show', {'id': produit.id}) }}" class="btn custom-btn">Show</a>
                        <a href="{{ path('app_produit_edit', {'id': produit.id}) }}" class="btn btn-primary">Edit</a>
                    </td>
                {% endif %}
               <td style="width: 100px">{{ produit.user.prenom }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% if is_granted('ROLE_MARAICHER') %}
    <a href="{{ path('app_produit_new') }}" class="btn btn-success">Create new</a>
{% endif %}
{% endblock %}
