{% extends 'base.html.twig' %}

{% block title %}Produit index{% endblock %}

{% block body %}
    <h1>Produit index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Image</th>
                {% if is_granted('ROLE_MARAICHER') %}
                    <th>Actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.name }}</td>
                <td>{{ produit.description }}</td>
                <td>{{ produit.prix }}</td>
                <td>
                    {% if produit.image is defined and produit.image %}
                    <img width= "100 px" src= "{{ app.request.getSchemeAndHttpHost()}}/{{produit.image}}" alt="{{ produit.name }}">
                    {% else %}
                    <p>Pas d'image disponible</p>
                    {% endif %}
                </td>
                  {% if is_granted('ROLE_MARAICHER') %}
                    <td>
                        <a href="{{ path('app_produit_show', {'id': produit.id}) }}" class="btn btn-info btn-sm">Show</a>
                        <a href="{{ path('app_produit_edit', {'id': produit.id}) }}" class="btn btn-warning btn-sm">Edit</a>
                    </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% if is_granted('ROLE_MARAICHER') %}
    <a href="{{ path('app_produit_new') }}" class="btn btn-success">Create new</a>
{% endif %}
{% endblock %}
